footer {
    background-color: #073642;
}

tr {
    border: 10px solid #073642;
}

fieldset {
    margin-bottom: 15px;
}

#articlesDiv {
    width: 70%;
    margin: 0 auto;
}

form {
    width: 60%;
    margin: 0 auto;
}